@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
/*  colors */
.bg-color-header {
    background-color: #000000;
}

.sign-up-now-bg {
    background-color: #000000;
}

.color-name-footer {
    background-color: #000000;
}

.find-us-footer,
.footer-social-links a i{
    color: #fee300;
}

.header-font-color {
    color: #fee300;
}

.button-color {
    color: #000000;
    background-color: #fee300;
    border: 1px solid #fee300;
}
.bg-color-menu-toggle {
    background-color: #fee300;
}

/* override on bootstrap navbar elements */
.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000000;
}
/*  colors End */

/* paddings/margins/text/headings */
.uppercase {
    text-transform: uppercase;
}
<<<<<<< HEAD

h2,h3,h4,h5 {
    font-family: 'Nunito', sans-serif;
    margin: 0.25rem;

}
/* paddings/margins/text/headings End */
=======
>>>>>>> a4b749a... Gallery finished

.padding-defaults {
    padding: 0.5rem 0.5rem 0.25rem;
}

.fonts-default-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.fonts-default-body {
    font-family: 'Yusei Magic', sans-serif;
}

.center-content {
    margin: 0 auto;
}


/* paddings/margins/text/headings End */


/* Header */
.name {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin: 0 auto;
    font-size: 2.5rem;
}

.description {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto;
}

.gym-logo {
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 0 0.5rem 0;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
}

.sign-up-now {
    width: 100%;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-style: oblique;
    border: 0;
    border-radius: 0;
    margin-top: 0.5rem;
}

.navbar {
    padding: 0;
    width: 100%;
    
}

.navbar-toggler {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    border-bottom: 1px solid #000000;    
}

.toggler-button {
    padding-right: 0.5rem;
    font-style: italic;
    font-family: 'Nunito';
    font-weight: 600;

}

/* Sign-up button overrides for hovering */
.btn-info:hover {
    background-color: #000000;
    color: #fee300;
    border: 1px solid #fee300;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fee300;
    background-color: #000000;
    border-color: #000000;
    border: 1px solid #fee300;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fee300;
    background-color: #000000;
    border-color: #000000;
    border: 1px solid #fee300;
}
/* Header End */
/*  Body */

hr {
    margin-top: 0.5rem;
    border: 0.25rem solid #fee300;
    width: 20%;
}

.get-strong-image {
    width: 10%;
}

.body-text {
    padding-left: 0.75rem;
    display: inline;
    font-family: 'Yusei Magic', sans-serif;
}

.body-title {
    padding-left: 0.5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

/* Body end */

/* Gallery */

.gallery-video {
    width: 100%;
    height: 100%;
}

.gallery-images {
    width: 45%;
}

/*  Gallery End */

/* Contact us */

.form-fonts-title  {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.form-fonts-body {
    font-family: 'Yusei Magic', sans-serif;
}
/* contact us End */
/* Maps */
.map {
    width:80%;
    height:100%;
    border:0;
    min-height: 14rem;
    margin: 0 auto;
    padding-left: 3rem;
}

/* Maps End */
/* Hover */

.hvr-sweep-to-top {
    /* adjust colors to site pallete */
}
/* Hover End */




/* Footer */

footer {
    background-color: black; 
    min-height: 4rem;
    margin: 0;
    padding-top: 1rem;
}
.find-us-footer {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding-left: 0.5rem;
    font-size: 1.5rem;    
}
.find-us-footer i {
    padding-left: 0.2rem;
}

#social-network-list {
    margin: 0 auto;
}

.footer-social-links a i {
    font-size: 1.5rem;
    padding-top: 0.3rem;
}

/* Footer End */

/* medias */

@media screen and (min-width:500px) {


    .name {
        font-weight: 800;
        font-size: 2.5rem;
        color: #fee300;
        margin: 0 auto;
    }

    .description {
        font-weight: 400;
        font-size: 1.5rem;
        color: #fee300;
        margin: 0 auto;
    }

    .sign-up-now {
        margin: 0 auto;
        display: inline;
        text-align: center;
        border: 0;
        height: 100%;
        width: 70%;
    }

    .gym-logo {
        margin-bottom: 0rem;
    }

    .nav-item {
        height: 100%;
        width: 60%;
        border-bottom: 0;
        font-size: 1rem; 
        padding: 0;
    }
    .map {
        min-height: 18rem;
    }

    /* Gallery */
    .gallery-images {
        width: 40%;
    }
    
    /* Gallery End */
}

/* medias End */